CUIT=20XXXXXXXXX
CERT=mi_certificado.crt
PRIVATEKEY=mi_clave.key
EMPRESA=TU NOMBRE COMPLETO
MEMBRETE1=Tu dirección, Ciudad
MEMBRETE2=C.P. XXXX - Provincia
CUIT_FMT=CUIT XX-XXXXXXXX-X
IIBB=Exento
IVA=Responsable Monotributo
INICIO=Inicio de Actividad: XX/XX/XXXX
